#createRide{
  min-height: 90vh;
  overflow-x: hidden;
}

.createRide{
  width: calc(100% - 16rem);
  margin-top: 70px;
  margin-left: 16rem;
  transition: all 0.4s;
} 

.createRide.active {
  width: 100%;
  margin: 40px 0 0 0;
}

.rideInput{
  box-shadow: none !important;
  border: 0 !important;
  margin: 3px;
  border-bottom: 1px solid #E5E4E2 !important;
  box-shadow: none !important;
  max-width: 280px;
}

.form-label{
    font-size: 16px;
    font-weight: normal;
    
}



.react-datepicker__input-container{
max-width: 220px;
}

.selectDate,.react-time-picker__wrapper{
max-width: 280px;
box-shadow: none !important;
border: none;
border-bottom: 1px solid #CBC8C0;
font-weight: normal;
color: #7B7D7D;
}

.rideButton{
  --color: black;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  
  line-height: 2.5em;
  margin-top: 40px;

  position: relative;
  overflow: hidden;
  border: 2px solid var(--color) !important ;
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  background-color: white !important;
  color: black !important;
}
/* .rideButton:hover{
border:  1px solid #6D19FC;
background-color: white;
color: #6D19FC;
}  */

.rideButton:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.rideButton:hover {
  color: white !important;
}

.rideButton:before {
  top: 100%;
  left: 100%;
  color: white;
  transition: all .7s;
}

.rideButton:hover:before {
  top: -30px;
  left: -30px;
}

.rideButton:active:before {
  background: black;
  color: white;
  transition: background 0s;
}

















@media (max-width: 768px) {
   .createRide{
    width: 100%;
    margin: 70px 0 0 0;
  }
  .createRide.active {
    margin-left: 16rem;
    width: calc(100% - 16rem);
  }
}

@media (max-width: 568px){
.rideForm{
  max-width: 400px;
}
}