.blockAddress{
    margin: auto 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    color: white;
}

@media (max-width: 500px) {
    .blockAddress{
        display: none;
        visibility: hidden;
    }
}
.sidebarbutton{
    background-color: black !important;
    color: white !important;
    border-color:black !important;
    margin-left: 40px;
}